p {
    border-radius: 15px/50px;
    background:#FFFF00;
    padding: 20px;
    width: 120px;
    height: 20px;
    border: 10px solid black;
    align-text: center;
    font-size: 25px;
}

h1{
  color: blue;
  font-family: "Times New Roman", Times, serif;

}
