

h1 {
    color: Crimson;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-style: italic;
    font-size: 5em;
}

li {
    list-style: none;
    border: 2px solid black;
    background-color: yellow;
    width: 200px;
    border-radius: 30px;
    letter-spacing: normal;
}

.hidden {
    display: none;
}
